<html>
   <head>
	   <style>
                   h1{color:red;text-align:center;}
		           h2{color:blue;text-align:center;}
       </style>
   </head>
<body>
    <table align="center">
       <tr><th height="100"width="1500"bgcolor="#add8e6"><font size="60">Online Test Series</font></th></tr>
       <tr><th>{% block main %}
	           {% endblock %}</th></tr>
     <table align="left">
       <tr bgcolor="#add8e6">
	     <th height="40"width="500"><a href="#"><font color="black">About Us</font></a></th>
         <th width="500"><a href="#"><font color="black">Products</font></a></th>
         <th width="500"><a href="#"><font color="black">Support Us</font></a></th>
       </tr>
     </table>
    </table>

</body>
</html>
